<template>
                <div class="content custom-scrollbar">

                    <div id="login" class="p-8">

                        <div class="form-wrapper md-elevation-8 p-8">

                            <div class="logo bg-secondary">
                                <span>F</span>
                            </div>

                            <div class="title mt-4 mb-8">Log in to your account</div>
                            <p v-if="errors.length">
                              <b>Please correct the following error(s):</b>
                              <ul>
                                <li v-for="error in errors"> {{ error }} </li>
                              </ul>
                            </p>
                            <form name="loginForm" 
                            @submit="checkForm"
                            action="/login"
                            method="post">

                                <div class="form-group mb-4">
                                    <input type="text" 
                                    class="form-control"
                                    placeholder=" " 
                                    id="email"
                                    v-model="email"
                                    name="email"
                                    />
                                    <label for="email">Email address</label>
                                </div>

                                <div class="form-group mb-4">
                                    <input 
                                    type="password" 
                                    class="form-control" 
                                    id="password" 
                                    placeholder="Password" 
                                    v-model="password"
                                    name="password"
                                    />
                                    <label for="password">Password</label>
                                </div>

                                <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">

                                    <div class="form-check remember-me mb-4">
                                        <label class="form-check-label">
                                            <input 
                                            type="checkbox" 
                                            class="form-check-input" 
                                            aria-label="Remember Me" 
                                            v-model="rememberme"
                                            name="rememberme"
                                            />
                                            <span class="checkbox-icon"></span>
                                            <span class="form-check-description">Se souvenir de moi</span>
                                        </label>
                                    </div>

                                    <a href="#" class="forgot-password text-secondary mb-4">Mots de passe oublié?</a>
                                </div>

                                <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                                    Authentification
                                </button>

                            </form>

                            <div class="separator">
                                <span class="text">OU</span>
                            </div>

                            <div class="register d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                <span class="text mr-sm-2">Pad de compte?</span>
                                <a class="link text-secondary" href="pages-auth-register.html">Create an account</a>
                            </div>

                        </div>
                    </div>

                </div>
</template>
<script>

export default {
  data(){
    return{
      email:"",
      password:"",
      errors:[],
      rememberme: false
    }
  },
   computed: {
  },
    methods:{
    checkForm: function (e) {
      this.errors = [];
      let valid = true;
      if (!this.email) {
        this.errors.push("l'email est requis.");
        valid = false;
      }else
      if(!this.validEmail(this.email)){
        this.errors.push("l'email est invalide.");
        valid = false;
      }
      if (!this.password) {
        this.errors.push('le mots de passe est requis.');
        valid = false;
      }
      
      e.preventDefault();
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
};
</script>